name: Publish Container Image
on:
  push:
    tags:
      - '*'
jobs:
  testbuild:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - '3.x'   # Most Recent 3.x release
          - '3.10'  # EOL xx Oct 2026
          - '3.9'   # EOL xx Oct 2025
          - '3.8'   # EOL xx Oct 2024
          - '3.7'   # EOL 27 Jun 2023
    name: Python ${{ matrix.python-version }} Testing
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=15 --max-line-length=127 --statistics
  push_to_registry:
    needs: testbuild
    name: Build and Push Container
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Get the Tag Version
        id: get_version
        run: echo ${{ github.ref_name }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set Up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Log In to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GIT_TOKEN }}
      - name: Push to Container Registries
        uses: docker/build-push-action@v2
        with:
          platforms: |
            linux/386
            linux/amd64
            linux/arm/v6
            linux/arm/v7
            linux/arm64/v8
          push: true
          tags: |
            tomswartz07/slack-adventofcodeleaderboard:latest
            tomswartz07/slack-adventofcodeleaderboard:${{github.ref_name}}
            ghcr.io/tomswartz07/slack-adventofcodeleaderboard:latest
            ghcr.io/tomswartz07/slack-adventofcodeleaderboard:${{github.ref_name}}
